html,
body,
main {
  height: 100%;
}
main {
  background-color: #e4f1fe;

  overflow: auto;
}
#root {
  height: 100%;
}
header {
  background-color: #22313f !important;
}
footer {
  background-color: #22313f;
}
footer p {
  color: white !important;
  font-size: 18px;
}
.nav-link {
  font-size: 20px !important;
}
.li {
  margin-top: 30px;
  background-color: #22313f !important;
  font-size: 18px;
  color: white !important;
}
.logo-meteo {
  width: 70px !important;
  margin-left: 20px;
}
.search {
  background-color: #22313f !important;
}
.card {
  height: 100% !important;
  background-color: rgb(168, 213, 235) !important;
}
.card-home {
  width: 100% !important;
  height: 100% !important;
  background-color: rgb(152, 211, 238) !important;
}
.button-search {
  background-color: #0dcf82 !important;
  border: none !important;
}
.car {
  width: 100%;
}
@media screen and (max-width: 992px) {
  .form {
    width: 120px;
  }
}
